@model webOdev3.Models.Kullanicilar

@{
    ViewData["Title"] = "Kayıt Ol";
}
<head>
    <link rel="stylesheet" href="~/css/kayit.css" />
</head>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Kullanıcı Kayıt Ol</h3>
                </div>
                <div class="card-body">
                    <form asp-controller="Kullanicilar" asp-action="KullaniciKaydet" method="post">
                        <div class="form-group mb-3">
                            <label asp-for="Ad" class="form-label"></label>
                            <input asp-for="Ad" class="form-control" placeholder="Adınızı girin" required />
                            <span asp-validation-for="Ad" class="text-danger"></span>
                        </div>

                       
                        <div class="form-group mb-3">
                            <label asp-for="Soyad" class="form-label"></label>
                            <input asp-for="Soyad" class="form-control" placeholder="Soyadınızı girin" required />
                            <span asp-validation-for="Soyad" class="text-danger"></span>
                        </div>

                       
                        <div class="form-group mb-3">
                            <label asp-for="Email" class="form-label"></label>
                            <input asp-for="Email" class="form-control" placeholder="Email adresinizi girin" required />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                       
                        <div class="form-group mb-3">
                            <label asp-for="Sifre" class="form-label"></label>
                            <input asp-for="Sifre" type="password" class="form-control" placeholder="Şifrenizi girin" required />
                            <span asp-validation-for="Sifre" class="text-danger"></span>
                        </div>
                       
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Kayıt Ol</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <p>
                        Zaten hesabınız var mı?
                        <a asp-controller="Home" asp-action="GirisYap" class="text-primary">Giriş yap</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
