/* Genel Stil */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    /* Arka plan resmi */
    background-image: url('/images/kuafor.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f4f6f9;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

/* Ana container */
.container {
    width: 90%;
    max-width: 1200px; 
    padding: 20px;
}

/* Kart Stili */
.card {
    background-color: #ecc889;
    width: 100%; 
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Kart başlığı */
.card-header {
    font-size: 10rem; 
    font-weight: bolder;
    color: #c19dcc;
    margin-bottom: 1.5rem;
    background-color: #ecc889;
}

/* Kart içeriği */
.card-body p {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 2rem;
}

/* Buton */
.btn-primary {
    display: inline-block;
    background-color: #808080;
    color:;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
}

    .btn-primary:hover {
        background-color: #bbbea0;
        transform: scale(1.05);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }

/* Responsive (Mobil Ekranlar için) */
@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 10px;
    }

    .card {
        padding: 1.5rem;
    }

    .btn-primary {
        font-size: 1rem;
        padding: 8px 20px;
    }
}
